{% extends "main_pk_templates.html" %}


{% block content %}
<script>
    function checkPassword() {
    var password = $("#txtNewPassword").val();
    var confirmPassword = $("#txtConfirmPassword").val();
    var length_of_str = password.length;
    if (length_of_str < 4)
        $("#divCheckPasswordMatch").html("Пароль не может быть меньше 4 символов");
    else
        $("#divCheckPasswordMatch").html("");

}

function checkPasswordMatch() {
    var password = $("#txtNewPassword").val();

    var confirmPassword = $("#txtConfirmPassword").val();
    var length_of_str = password.length;
    if (password != confirmPassword)
        $("#divCheckPasswordMatch").html("Пароль не совпадает!");
    else
        $("#divCheckPasswordMatch").html("Пароль совпадает");
}

</script>
<center>
<h2 class="art-postheader">Сменить пароль</h2>
</center>

<div class="art-commentsform" style="width: 300px; text-align: center;">

<form action="" method="post" id="commentform">{% csrf_token %}
<!--
<p class="comment-form-author">
<label for="author" style="text-align:center;"><center>Введите старый пароль</center></label>
<input id="passwd_old" name="old_password" type="password" value="" required="" size="30" style="text-align:center">
</p> -->
<p class="comment-form-author">
<label style="text-align:center; size=30;"><center>Введите новый пароль</center></label>
<input name="password" type="text" value="" required="" size="30" maxlength="25" style="text-align:center" id="txtNewPassword" value="" onkeyup="checkPassword();" >
</p>
<p class="comment-form-author">
<label for="author" style="text-align:center;"><center>Повторно введите новый пароль</center></label>
<input name="password2" type="text" value="" required="" size="30" maxlength="25" style="text-align:center" id="txtConfirmPassword" onkeyup="checkPasswordMatch();">
</p><p><br></p>
<center><div class="registrationFormAlert" id="divCheckPasswordMatch">{{info}}</div></center>
</p>
    <p class="form-submit"><center>
<input name="submit" class="art-button" type="submit" value="Сохранить" style="text-align:center"></center>
</p>
</form>
</div>

{% endblock %}
